@page "/login"
@layout  NoNavLayout
@using RepayablWebApp.Data.Repositories;
@inject IUserClient _userClient;
@inject IJSRuntime Js;
<!-- Page Loader -->


<div class="card">
    <div class="body">
        <p class="lead">Login to your account</p>
        <div class="form-auth-small m-t-20">
            <div class="form-group">
                <label for="signin-email" class="control-label sr-only">Username</label>
                <input type="email" class="form-control round" id="signin-email" @bind="SelectedUser.UserName" placeholder="Username" />
            </div>
            <div class="form-group">
                <label for="signin-password" class="control-label sr-only">Password</label>
                <input type="password" class="form-control round" id="signin-password" @bind="SelectedUser.Password" placeholder="Password" />
            </div>
            <div class="form-group clearfix">
                <label class="fancy-checkbox element-left">
                    <input type="checkbox">
                    <span>Remember me</span>
                </label>
            </div>
            <button @onclick="loginUserAsync" class="btn btn-primary btn-round btn-block">LOGIN</button>
            <div class="bottom">
                <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                <span>Don't have an account? <a href="Register">Register</a></span><br />
                <span>@SuccessMsg</span>
            </div>
        </div>
    </div>
</div>

<!-- END WRAPPER -->

@code {
    public User SelectedUser { get; set; } = new User();
    int currentCount = 0;
    string SuccessMsg = string.Empty;
    public async Task loginUserAsync()
    {
        var authUser = await _userClient.LoginAsync(SelectedUser);
        if (authUser != null)
        {
            SuccessMsg = "Login Successful";
        }
    }
}
